<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d4dc869e85.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/style.css">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header__titulo">
            <img src="./img/logo__small@2x.png" class="img-mobile" alt="">
            <img width="170px"  class = "img-web" src="./img/logo-mercado-liebre.svg" alt="">
            <div class="header__input">
                <input type="search" class="input-text" placeholder="Busque el articulo">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
            </div>
            
        </div>
        <p class="subtitulo"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__ul__li"><a href="#">Ofertas</a></li>
                <li class="nav__ul__li"><a href="#">Tiendas Oficiales</a></li>
                <li class="nav__ul__li"><a href="#">Vender</a></li>
                <li class="nav__ul__li"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav__ul">
                <li class="nav__ul__li"><a href="#">Crear una cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li class="nav__ul__li"><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li class="nav__ul__li"><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

    </header>

    <main>
        <nav class="slide">
            <ul>
                <li class="caja"><img src="./img/img1.webp" alt=""></li>
                <li class="caja"><img src="./img/img2.webp" alt=""></li>
                <li class="caja"><img src="./img/img3.webp" alt=""></li>
                <li class="caja"><img src="./img/img4.webp" alt=""></li>
                <li class="caja"><img src="./img/img5.webp" alt=""></li>
            </ul>
        </nav>
        <h2>Ultimas vistas:</h2>
        <section>
            <article class="section__article">
                <img src="./img/img-cafetera-moulinex.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripcion__precio">$6.770</p>
                    <p class="descripcion__descuento">40% OFF</p>
                </div>
                <div class="descripcion__name"><h3>Cafetera Moulinex</h3></div>
            </article>
            <article class="section__article">
                <img src="./img/img-macbook-pro-2019.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripsion__precio">$230.000</p>
                    <p class="descripcion__descuento">20% off</p>
                </div>
                <div class="descripcion__name"><h3>MacBook Pro 2019</h3></div>
            </article>
            <article class="section__article">
                <img src="./img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="article__descripcion">
                <i class="fa-solid fa-truck"></i>
                <p class="descripsion__precio">$70.500</p>
                <p class="descripcion__descuento">10% off</p>
                </div>
                <div class="descripcion__name"><h3>Samsung Galaxy S10</h3></div>

            </article>
            <article class="section__article">
                <img src="./img/img-tv-samsung-smart.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripsion__precio">$23.200</p>
                    <p class="descripcion__descuento">5% off</p>
                </div>
                <div class="descripcion__name"><h3>SmartTv Samsung 43"</h3></div>
            </article>
            
        </section>
        <h2>Ultimas vistas:</h2>
        <section>
            <article class="section__article">
                <img src="./img/img-cafetera-moulinex.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripcion__precio">$6.770</p>
                    <p class="descripcion__descuento">40% OFF</p>
                </div>
                <div class="descripcion__name"><h3>Cafetera Moulinex</h3></div>
            </article>
            <article class="section__article">
                <img src="./img/img-macbook-pro-2019.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripsion__precio">$230.000</p>
                    <p class="descripcion__descuento">20% off</p>
                </div>
                <div class="descripcion__name"><h3>MacBook Pro 2019</h3></div>
            </article>
            <article class="section__article">
                <img src="./img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="article__descripcion">
                <i class="fa-solid fa-truck"></i>
                <p class="descripsion__precio">$70.500</p>
                <p class="descripcion__descuento">10% off</p>
                </div>
                <div class="descripcion__name"><h3>Samsung Galaxy S10</h3></div>

            </article>
            <article class="section__article">
                <img src="./img/img-tv-samsung-smart.jpg" alt="">
                <div class="article__descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <p class="descripsion__precio">$23.200</p>
                    <p class="descripcion__descuento">5% off</p>
                </div>
                <div class="descripcion__name"><h3>SmartTv Samsung 43"</h3></div>
            </article>
            
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="card">
                <i class="fa-sharp fa-solid fa-credit-card"></i>
            </div>
            <h2 class="footer__subtitulo">
                Pagá con tarjeta o en efectivo
            </h2>
            <p class="footer__parrafo">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <div class="gift">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h2 class="footer__subtitulo">
                Envío gratis desde $ 2.500
            </h2>
            <p class="footer__parrafo">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <h2 class="footer__subtitulo">
                <div class="user-shield">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
            seguridad, de principioa fin 
            </h2>
            <p class="footer__parrafo">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p>
            <h2 class="footer__copy">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </h2>
        </div>
    </footer>
    
</body>
</html>